body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#nav li{
    display:inline-block;
  }
  .navbar {
    background-color: rgb(177, 177, 177);
    display: flexbox;
    height: 70px;
    overflow: hidden;
  }
  .navbar a {
    font-weight: bold;
    float: right;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .navbar a:hover {
    font-size: larger;
    color: black;
    background-color: #6e7172;
  }
.container{
    display: flex;
}
#span1{
    color: red;
}
.landing{
    background-image: url('../images/home2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 560px;
  }
  .landing-page-heading1{
    font-family: 'Aclonica', sans-serif;
      font-weight: bold;
      padding-top: 80px;
      color: red;
      font-size: 3em;
      letter-spacing: 2px;
      animation: bounce 3s ease infinite ;
  }    
@keyframes bounce {
  100% {
    top: -10px;
   
  }
}
.landing-page-heading2{
    font-family: 'Aclonica', sans-serif;
        color: red;
        font-weight: bold;
        padding-top: 20px;
        font-size: 2em;
    }
  .landing-page-heading{
    width: 500px;
    position:relative;
    animation:mymove 5s infinite;
    animation-delay:2s;
    animation-iteration-count:infinite;
    -webkit-animation:mymove 5s infinite;
    -webkit-animation-delay:1s;
    -webkit-animation-iteration-count:infinite;
  }
  
  @keyframes mymove {
     from {
        left:90px;   }   
     to {
        left:490px;   }
  }
  @-webkit-keyframes mymove  {
     from {
        left:90px;   }   
     to {
        left:490px;   }
  }
  #mouse-click{
    padding-top : 160px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }
  #mouse-click {
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0);}
    40% {transform: translateY(-60px);}
    60% {transform: translateY(-50px);}
  }
#about_us{
    background-color: #979b9c;
    font-family:'Poppins', sans-serif; 
}




